nav {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: nowrap;

  margin-top: 30px;
}

div .boton {
  width: 25%;
  height: 40px;
  margin: 0 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px 20px 0 0;

  user-select: none;
  cursor: pointer;

  font-family: 'Bebas Neue', cursive;
}

.active {
  background-color: #007e90;
}
