.clasificacion-webcam {
  text-align: center;
}

.title {
  font-family: 'Bebas Neue', cursive;
  color: #ccdfcb;
  background-color: #056571;
  padding: 15px 0;

  margin: 0;
}

.clasificacion-webcam {
  background-color: #414141;
}

html {
  height: 100%;
  background-color: #414141;
}
